.feedback-form {
    display: flex;
    flex-direction: column;
    max-width: 408px;
    max-height: 296px;
    padding: 24px;
    background-color: #fff;
    border-radius: 4px;
}

.feedback-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.feedback-form button {
    max-width: 95px;
    max-height: 40px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1, 5;
    letter-spacing: 0.64px;
    background-color: #4e75ff;
}

.feedback-form button:hover,
.feedback-form button:focus {
    background-color: #6C8CFF;
}


input,
textarea {
    padding: 8px;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #808080;
}

input:hover,
textarea:hover {
    border: 1px solid #000;
}

textarea {
    resize: none;
}